

.icono{
    color: rgb(217, 217, 217);
    margin-right: 20px;
    display: block;
    margin-left: 25px;  
}
ul .elemento{
    margin-top: 15px;
}
ul a{
    color: rgb(217, 217, 217);
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-decoration: none;
}

.subm li a, .subm2 li a {
    color: rgb(142, 142, 142);
    text-decoration: none;
}

ul li ul{
    height: 0px;
    overflow: hidden;
    transition: 0.4s;
}
ul li:hover .submenu3{
    height: 80px;
}
ul li:hover .submenu{
    height: 60px;
}
ul li:hover .submenu4{
    height: 190px;
}

.subm li a:hover{
    transition: 0.3s;
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}
ul li .subm{
    height: 0px;
    overflow: hidden;
    margin-left: 63px;
}
ul li .subm2{
    margin-left: 70px;  
}
.subm2 li a:hover{
    transition: 0.3s;
    color: white;
}
.text{
    display: flex;   
}

ul .elemento:hover .text, .icono{
    color: white;
    font-weight: 600;
}

.faAngle{
    margin-left: 180px;
    font-size: 14px;
    margin-top: 5px;
}
.faAngle2{
    margin-left: 185px;
    font-size: 14px;
    margin-top: 3px;
}
.faAngle3{
    margin-left: 150px;
    font-size: 14px;
    margin-top: 3px;
}
.faAngle4{
    margin-left: 180px;
    font-size: 14px;
    margin-top: 3px;
}

