

.estadisticas{
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    grid-column: 2/4;
}
.NuevoFormato{
    width: 1250px;
    height: 400px;
    border-radius: 0px;
    margin: 50px 0px 0px 110px;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;

 
}

.tituloEstadisticas{
    text-align: center;
    margin-top: 30px;
}

.grafica1{
    width: 400px;
    height: 200px;
    background-color: red;
}
.grafica2{
    width: 500px;
    height: 280px;
    background-color: rgb(248, 255, 248);
    border: 1px solid rgb(146, 146, 146);
   
}
.grafica3{
    width: 500px;
    height: 280px;
    background-color: rgb(255, 246, 247);
    border: 1px solid rgb(120, 120, 120);
}