.rol{
    width: 90%;
    height: 100%;
    padding: 10px;
    grid-column: 2/4;
    margin: 0 auto;
}

.usuario{
    width: 90%;
    height: 100%;
    padding: 10px;
    grid-column: 2/4;
    margin: 0 auto;
}

.sancion{
    width: 90%;
    height: 100%;
    padding: 10px;
    grid-column: 2/4;
    margin: 0 auto;
}